/* Здесь хранятся desktopные настройки css */
header {
    /* ширина header */
    width: 100vw;
    height: 4.16667vw;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5625vw;
    padding-right: 7.8125vw;
}

#headerLogoBlock {}