/* Здесь хранятся desktopные настройки css */
header {
    /* ширина header */
    width: 100vw;
    height: 4.16667vw;
    /* располагаем элементы в строчку */
    display: flex;
    /* прижимаем элементы к краям сайта(левый и правый) по оси x */
    justify-content: space-between;
    /* отступы элементов от краёв */
    padding-left: 1.5625vw;
    padding-right: 7.8125vw;
    /* распологаем элементы по оси y в центре */
    align-items: center;
    /* цвет backgroundа(заливка) */
    background-color: #0C0A0D;
}

/* id левой стороны header */
#headerLogoBlock {
    width: 15.67708vw;
    height: 3.125vw;
    /* Отображаем все содержание элемента, даже за пределами установленной высоты и ширины
    (на случай если размер шрифта будет выходить за границу и корректно отображался(без скроллов)) */
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* мультиселектор sass css(для блока h2 и img) */
    &>h2 {
        /* цвет шрифта */
        color: #FFB190;
        /* размер шрифта(берём от vw) */
        font-size: 1.82292vw;
        /* пространство между символами(переводим из процентов 1% = 0.01em) */
        letter-spacing: -0, 0015em;
    }

    &>img {
        object-fit: contain;
        overflow: visible;
        width: 3.125vw;
    }
}