/* Здесь хранятся общие css-элементы сайта */
/* основные цвета */
/* :root{} - псевдоэлемент, настройки которого применяются ко всему html-файлу */
:root {
    /* подключаем цвета в виде переменных*/
    --backgroundColor: #FFB190;
    --contentColor: #241916;
    --accentColor: #040203;
    /* подключаем шрифт */
    /* font-family: 'Marck';*/
}

html {
    /* :root и html - идентичны. Используй любой вариант */
    font-family: 'Marck';
}

/* убираем стили по умолчанию, заданные в браузере */
/* обращаемся ко всем css-элементам */
* {
    /* убираем скролл по x */
    overflow-x: hidden;
    /* убираем внешние отступы */
    margin: 0;
    /* убираем внутренние отступы */
    padding: 0;
    /* для предотвращения изменения объекта(вследствии создания границы и отступов) */
    box-sizing: border-box;
}

/* подключаем шрифт */
@font-face {
    /* семейство шрифта */
    font-family: 'Marck';
    /* путь до ttf-образа шрифта */
    src: url('/project 1/sweet_corner/source/fonts/Marck.ttf') format('truetype');
    /* начертание шрифта(насыщенность шрифта) */
    font-weight: 400;
    /* стиль шрифта */
    font-style: normal;
}